In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.ensemble import GradientBoostingClassifier

### **Nạp dữ liệu**

In [2]:
train = pd.read_excel('../exps/feature_Labels/train_Labels.xlsx')
test = pd.read_excel('../exps/feature_Labels/test_Labels.xlsx')

In [3]:
train.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  FamilySize
0         0       3    0    1     0         0      0         0.4
1         1       1    1    3     2         1      2         0.4
2         1       3    1    1     0         0      1         0.0
3         1       1    1    2     2         0      2         0.4
4         0       3    0    2     0         0      0         0.0

### **Modeling**

### **K-Fold**

In [4]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
target = train['Survived']
train = train.drop(['Survived'], axis=1)

In [5]:
clf = KNeighborsClassifier(n_neighbors = 13)
scoring = 'accuracy'
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.83333333 0.79775281 0.83146067 0.83146067 0.85393258 0.83146067
 0.84269663 0.80898876 0.82022472 0.84269663]

In [6]:
#learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
log = LogisticRegression(max_iter=5000,random_state=42)
log_cv = LogisticRegressionCV(cv=5,max_iter=5000,random_state=42)
rf = RandomForestClassifier(random_state=42)
gb = GradientBoostingClassifier(random_state=42)

models = [log,log_cv,rf,gb]
def model_fit():
    scoring = 'accuracy'
    for i in range(len(models)):
        score = cross_val_score(models[i], train, target, cv=k_fold, n_jobs=1, scoring=scoring)
        print("Score of Model",i,":",round(np.mean(score)*100,2))
#     round(np.mean(score)*100,2)
#     print("Score of :\n",score)
model_fit()

Score of Model 0 : 81.48
Score of Model 1 : 81.26
Score of Model 2 : 81.03
Score of Model 3 : 82.71

In [7]:
clf1 = gb
clf1.fit(train, target)
test
test_data = test.drop(['PassengerId'], axis=1)
prediction = clf1.predict(test_data)
# test_data

In [8]:
test_data['Survived'] = prediction
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'], 
    'Survived': prediction
})
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv("../Submit/Submission.csv",index=False,header=True)