# Bài tập thực hành 1: Cách sử dụng sweetviz

## 1.Tải về package sweetviz
+ CMD: pip install sweetviz

In [2]:
import sweetviz as sv

## 2. Các tính năng cơ bản của sweetviz
+ analyze(...) phân tích.
+ compare(...) so sánh trên 2 tập dữ liệu có cùng thuộc tính.
+ compare_intra(...) so sánh các subset trên 1 điều kiện nào đó.

### 1.Report đơn giản về tập dữ liệu (analyze(...))

In [22]:
import numpy as np
import warnings

# Patch cho numpy >= 1.24
if not hasattr(np, "VisibleDeprecationWarning"):
    np.VisibleDeprecationWarning = DeprecationWarning  # dùng DeprecationWarning chuẩn của Python

import sweetviz as sv
import pandas as pd

df = pd.read_csv("data/marketing_campaign.csv", sep="\t")
report = sv.analyze(df)
report.show_html("Reports/SweetvizReport.html")

                                             |                                         | [  0%]   00:00 -> (? …

Report Reports/SweetvizReport.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### 2.So sánh 2 tập dữ liệu train và test (compare(...))
+ Vì đây là tập dữ liệu không giám sát (unsupervised) nên ta sẽ lấy phản hồi của khách hàng (repsponse) làm giá trị output cho các chiến dịch tiếp thị

In [13]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [21]:
x = df.drop("Response", axis=1)
y = df["Response"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.33, random_state=42, stratify=y
)
report = sv.compare([X_train, "Training Data"], [X_test, "Test Data"])
report.show_html("Reports/compare_report.html")

                                             |                                         | [  0%]   00:00 -> (? …

Report Reports/compare_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### 3.So sánh subset trên điều kiện

In [23]:
report = sv.compare_intra(df,df["Response"] == 0, ["Không hài lòng", "Hài lòng"])
report.show_html("Reports/compare_intra_report.html")

                                             |                                         | [  0%]   00:00 -> (? …

Report Reports/compare_intra_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.